body {
    font-family: Arial;
    margin: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 10px;
}

button {
    padding: 8px;
    background: pink;
    border: 1px solid #b5556a;
    cursor: pointer;
}

.galeria {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 140px;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    background: #fff;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 10px;
}
