* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}