body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#msg {
    font-weight: bold;
    margin-top: 20px;
}
