* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vW;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    margin: 10px;
}

.container #btn{
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  color: white;
  background-image: linear-gradient(90deg, #ff7b7b 0%, #ffb347 50%, #ffd86b 100%);
  transition: 1s ease;
  background-size: 200% 100%;
  background-position: 0% 50%;
  cursor: pointer;
}

#btn:hover{
  background-position: 100% 50%; /*move o gradiente */
}