* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    flex: 1;
    min-width: 200px;
    background: green;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    max-height: 60px;
    max-width: 180px;
}

.item {
    flex: 1;
    min-width: 200px;
    /* não fica estreito */
    background: green;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    max-height: 60px;
    max-width: 180px;
    vertical-align: center;
}

/* Opcional: ajustes finos para telas bem pequenas */
@media (max-width: 720px) {
    .grid-container {
        display: flex;
        flex: 1 1 100%; 
        flex-direction: column;
        align-items: center;
        /* ocupa 100% da largura — empilha em coluna*/
    }

    
}