* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#btn{
    background: green;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
    color: white;
    transition: .4s ease;
    cursor: pointer;
}

#btn:hover{
    transform: scale(1.2);
}