* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#add{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

