* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

