* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.lanches button{
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border: solid black;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
}

.lanches button:hover{
    transform: scale(1.4);
}


.lanches button.selected{
    border-color:red;
    transform: scale(1.2);
}
