* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   display: flex;
   height: 100vh;
   width: 100vw;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

#sortear{
    width: 165px;
    height: 60px;
    font-size: 40px;
}

#chute{
    width: 120px;
}

