* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerEsq{
    display: flex;
    width: 50%;
    flex-direction: column;
}

/* botões de cor de fundo =======================================================*/

.containerEsq #corDeFundo{
    display: flex;
    padding: 20px;
    margin-right: 30px;
}

.containerEsq h3{
    margin-left: 190px;
}

.containerEsq #corDeFundo > button{
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 2rem;
    margin-bottom: 150px;
    cursor: pointer;
    transition: .4s ease;
}

.containerEsq #corDeFundo > button:nth-child(1) {
    background: red;
}
.containerEsq #corDeFundo > button:nth-child(2) {
    background: blue;
}
.containerEsq #corDeFundo > button:nth-child(3) {
    background: purple;
}
.containerEsq #corDeFundo > button:nth-child(4) {
    background: green;
}

.containerEsq #corDeFundo > button:hover{
    transform: scale(1.10) translateY(-10px);
}

/* botões de cor da fonte =======================================================*/

.containerEsq #corDaFonte{
    display: flex;
    padding: 20px;
    margin-right: 30px;
}

.containerEsq #corDaFonte > button{
    height: 100px;
    width: 100px;
    border-radius: 2rem;
    cursor: pointer;
}

.containerEsq #corDaFonte > button{
    height: 100px;
    width: 100px;
    margin: 5px;
    transition: .4s ease;
}

.containerEsq #corDaFonte > button:nth-child(1) {
    background: black;
}
.containerEsq #corDaFonte > button:nth-child(2) {
    background: white;
}
.containerEsq #corDaFonte > button:nth-child(3) {
    background: turquoise;
}
.containerEsq #corDaFonte > button:nth-child(4) {
    background: tan;
}

.containerEsq #corDaFonte > button:hover{
    transform: scale(1.10) translateY(10px);
}

/* coluna direita =======================================================*/

.container #background{
    display: flex;
    flex-direction: column;
    border: solid black;
    border-radius: 2rem;
    padding: 10px;
    height: 450px;
    min-width: 200px;
}

.container #background p{
    padding-top: 200px;
}