* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   display: flex;
   height: 100vh;
   width: 100vw;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#inputs{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#btn{
    padding: 10px 20px 10px 20px;
}