* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.pbar{
    display: flex;
    gap: 10px;
    margin: 10px;
}

#reg{
    margin-top: 16px;
    width: 80px;
    height: 25px;
}

.exhib{
    display: flex;
    gap: 10px;
    margin-top: 60px;
    margin-left: 10px;
}

#exibicao{
    display: flex;
    width: 300px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}



