*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{ 
    background:#000; 
    color:#fff; 
    overflow-x: hidden;
}

/* navbar*/
.navbar{
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.6);
    backdrop-filter: blur(6px);
    position:fixed;
    top:0;
    width:100%;
    z-index:10;
}

.logo{ 
    font-size:1.8rem; 
    font-weight:bold; 
    color:#9d4df5; 
}

.menu{
    display:flex;
    gap:25px;
}
.menu a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}
.menu a:hover{ 
    color:#bb77ff; 
}

/* capa*/
.capa{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding-left:60px;
    position:relative;
    margin-top:60px;
}

.capa .bg{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
    
}

.capa::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(to left,rgba(0,0,0,.8) 35%,rgba(0,0,0,0));
    z-index:-1;
}

.conteudo{
    display:flex;
    flex-direction:column;
    gap:18px;
    max-width:500px;
}

.conteudo h1{ 
    font-size:3.5rem;
    font-weight:900;
    color:#dcd6ff;
}
.conteudo h2{
    font-size:1.3rem;
    opacity:.85;
}

.conteudo button{
    width:220px;
    padding:12px;
    background:#9b42ff;
    border:none;
    border-radius:6px;
    font-size:1.2rem;
    cursor:pointer;
    transition:.3s;
}
.conteudo button:hover{
    background:#b461ff;
    transform:scale(1.06);
}

/* card*/
.destaque{ padding:60px; }

.card{
    display:flex;
    background:#0b0b14;
    border-radius:10px;
    overflow:hidden;
    gap:20px;
    transition:.3s;
}
.card:hover{
    transform:scale(1.03);
    box-shadow:0 0 20px #8c4bff7a;
}

.card img{
    width:40%;
    object-fit:cover;
}
.card .info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:12px;
    padding:20px;
}
.card button{
    width:120px;
    padding:10px;
    background:#9b42ff;
    border:none;
    border-radius:6px;
    cursor:pointer;
    transition:.3s;
}
.card button:hover{
    background:#b461ff;
    transform:scale(1.06);
}



@media(max-width:900px){
    .card{ 
        flex-direction:column; 
        text-align:center; 
    }
    .card img{ 
        width:100%; 
    }
}

@media(max-width:600px){
    .capa{
        padding-left:20px;
    }
    .conteudo h1{
        font-size:2.6rem;
    }
}